<div data-controller="infinite-scroll">

  <div id="posts">
    <%= render partial: "post", collection: @posts %>
  </div>


  <div id="loader" class="hidden text-center my-5">
    <p class="text-gray-500">
      Loading more posts...
    </p>
  </div>


  <div id="load-more">
    <% if @pagy.next %>
      <%= link_to "Load more",
          posts_path(page: @pagy.next),
          data: { turbo_stream: true },
          class: "text-white bg-blue-700 hover:bg-blue-800 rounded-lg text-sm px-5 py-2.5 block w-fit mx-auto mb-10" %>
    <% end %>
  </div>

</div>